.portfolio--container{
    display: grid;
    height: 300vh;
    font-family: 'Press Start 2P', sans-serif;
    color: var(--pink);
    gap: 25vh;
    padding: 100px;
    background: rgb(33,45,64);
    background: linear-gradient(180deg, rgba(33,45,64,1) 0%, rgba(33,45,64,1) 85%, rgba(22,42,140,1) 100%);
    text-shadow: 3px 3px 2px rgb(27, 27, 27);
}

.project--left--container, .project--right--container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    gap: 20vw;
}

.project--left--container, .project--right--container h3 {
    margin-left: 5vw;
}

.project--right--container {
    text-align: right;
    margin-right: 5vw;
}

img {
    height: 75vh;
    width: auto;
}