.portfolio--container{
    display: grid;
    height: 300vh;
    font-family: 'Press Start 2P', sans-serif;
    color: var(--pink);
    gap: 25vh;
    padding: 100px;
}

.project--left--container, .project--right--container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    gap: 20vw;
}

.project--left--container, .project--right--container h3 {
    margin-left: 5vw;
}

.project--right--container {
    text-align: right;
    margin-right: 5vw;
}

img {
    height: 75vh;
    width: auto;
}