.bottom--bg {
    background-image: url(../../assets/background-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #162a8c;
}

.contact--container {
    display: flex;
    flex-direction: column;
    padding: 10vw !important;
    color: var(--blue);
    font-family: 'Press Start 2P', sans-serif;
    gap: 15px;
}

label {
    margin-left: 15px;
    text-shadow: 2px 1px 1px rgb(27, 27, 27);
}

textarea {
    height: 335vh;
    min-height: 200px;
    max-height: 400px;
}

input, textarea {
    border-radius: 5px;
    padding: 15px;
    background-color: var(--off-white);
    border-bottom-color: var(--blue);
    border-bottom-width: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
}

input:focus, textarea:focus {
    border-bottom-color: var(--pink);
    border-bottom-width: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.button--container{
    display: flex;
    justify-content: center;
}

button {
    background-color: var(--blue);
    color: var(--pink);
    padding: 10px;
    width: 33%;
    border-radius: 5px !important;
    border-color: var(--blue);
    text-shadow: 1px 1px 1px var(--gray);
}

button:active {
    background-color: var(--pink);
    color: var(--blue);
}

footer {
    font-family: 'Press Start 2P', sans-serif;
    color: var(--blue);
    text-shadow: 2px 1px 1px rgb(27, 27, 27);
}

.footer--icon {
    padding-bottom: 3px;
    width: 30px;
    height: auto;
    filter: drop-shadow(1px 2px 2px var(--gray)) ;
}

.footer--copyright{
    margin-left: 8px;
    font-size: .8rem;
}

.faIcon--footer {
    font-size: 30px;
    color: var(--blue);
    filter: drop-shadow(1px 2px 2px var(--gray)) ;
}

.faIcon--footer:hover {
    filter: drop-shadow(0px 0px 10px var(--off-white));
}


@media only screen and (max-width: 900px) {
    button {
        font-size: .7rem !important;
    }
}

@media only screen and (max-width: 500px) {
    footer {
        justify-content: center;
        flex-direction: column;
    }
}

