

.intro--container {
    font-family: 'Press Start 2P', sans-serif;
    color: var(--blue);
    text-align: center;
    text-shadow: 3px 3px 2px var(--gray);
}

.greeting--container {
    height: 120vh;
    display: flex;
    flex-flow: column;
    padding-right: 42.5vw;
    padding-top: 45vh;
    background-image: url(https://res.cloudinary.com/ddv5jvvvg/image/upload/v1710107502/background_rrq8ar.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
}

@supports (background-image: url('example.webp')) {
    .greeting--container {
      background-image: url(https://res.cloudinary.com/ddv5jvvvg/image/upload/v1710107637/background_zgby10.webp);
    }
  }

.about--container{
    height: 65vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 5vh 20vw 5vh 20vw;
    background: rgb(0,159,190);
    background: linear-gradient(180deg, rgba(0,159,190,1) 0%, rgba(33,45,64,1) 100%);
}

.about--header {
    color: var(--pink)
}

.skills--container {
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 3px 3px 2px rgb(27, 27, 27);
}

.skills--headings {
    display: flex;
    justify-content: space-between;
    font-size: .85rem;
}

.skills--lists {
    text-align: left;
    width: 55vw;
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
}

.skills--lists li {
    list-style: square;
    margin-left: 2vw;
}


@media only screen and (max-width: 900px) {
    .skills--container {
        height: 100vh;
        margin-top: 200px;
        margin-bottom: 200px;
    }

    .greeting--container {
        padding: 3vw;
        padding-top: 33vh;
    }

    .skills--lists {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        height: 100vh;
        gap: 50px;
        width: 80vw;
    }

    .skills--lists li {
        margin-left: 5vw;
    }

    .skills--headings {
        display: flex;
        justify-content: space-between;
        font-size: .85rem;
    }
  }


