.bottom--bg {
    background-image: url(../../assets/background-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #162a8c;
}

.contact--container {
    display: flex;
    flex-direction: column;
    padding: 10vw !important;
    color: var(--blue);
    font-family: 'Press Start 2P', sans-serif;
    gap: 15px;
}

label {
    margin-left: 15px;
    text-shadow: 2px 1px 1px rgb(27, 27, 27);
}

textarea {
    min-height: 40vh;
}

input, textarea {
    border-radius: 5px;
    padding: 15px;
    background-color: var(--off-white);
    border-bottom-color: var(--blue);
    border-bottom-width: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
}

input:focus, textarea:focus {
    border-bottom-color: var(--pink);
    border-bottom-width: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.button--container{
    display: flex;
    justify-content: center;
}

button {
    background-color: var(--blue);
    color: var(--pink);
    padding: 10px;
    width: 33%;
    border-radius: 5px !important;
    border-color: var(--blue);
    text-shadow: 1px 1px 1px var(--gray);
}

button:active {
    background-color: var(--pink);
    color: var(--blue);
}

.success--popup {
    position: fixed;
    top: 85%;
    left: 50%;
    opacity: 0.8;
    transform: translate(-50%, -50%);
    background-color: var(--blue);
    color: var(--pink);
    padding: 15px;
    border-radius: 5px;
    animation: fade-in 0.5s, fade-out 0.5s 3s forwards;
    text-shadow: 1px 1px 1px var(--gray);
    filter: drop-shadow(1px 2px 2px var(--gray)) ;
    text-align: center;
  }
  
  .error--popup {
    position: fixed;
    top: 85%;
    left: 50%;
    opacity: 0.8;
    transform: translate(-50%, -50%);
    background-color: #f44336;
    color: white;
    padding: 15px;
    border-radius: 5px;
    animation: fade-in 0.5s, fade-out 0.5s 3s forwards;
    text-shadow: 1px 1px 1px var(--gray);
    filter: drop-shadow(1px 2px 2px var(--gray)) ;
    text-align: center;
  }

footer {
    font-family: 'Press Start 2P', sans-serif;
    color: var(--blue);
    text-shadow: 2px 1px 1px rgb(27, 27, 27);
}

.footer--icon {
    padding-bottom: 3px;
    width: 30px;
    height: auto;
    filter: drop-shadow(1px 2px 2px var(--gray)) ;
}

.footer--copyright{
    margin-left: 8px;
    font-size: .8rem;
}

.faIcon--footer {
    font-size: 30px;
    color: var(--blue);
    filter: drop-shadow(1px 2px 2px var(--gray)) ;
}

.faIcon--footer:hover {
    filter: drop-shadow(0px 0px 10px var(--off-white));
}
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.8;
    }
  }
  
  @keyframes fade-out {
    from {
      opacity: 0.8;
    }
    to {
      opacity: 0;
    }
  }


@media only screen and (max-width: 900px) {
    button {
        font-size: .7rem !important;
    }

    .success--popup, .error--popup {
        top: 90%;
        font-size: .7rem;
    }
}

@media only screen and (max-width: 500px) {
    .success--popup, .error--popup {
        top: 85%;
        font-size: .6rem;
    }

    footer {
        justify-content: center;
        flex-direction: column;
    }
}

