@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Chakra+Petch:wght@300;400;500;700&family=Press+Start+2P&display=swap');

:root, body {
  --blue: #41B6E6;
  --pink: #DB3EB1;
  --dark-blue: #212D40;
  --off-white: #EAE1DF;
  --gray: #333333;
  font-family: 'Audiowide', cursive;
  line-height: 1.5;
  font-weight: 400;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: var(--dark-blue) !important;
}

.navbar--container a {
  all: unset;
}
